# Node
node_modules/
dist/

# Environment variables
.env
.env.*

# AWS SAM build artifacts
.aws-sam/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# MacOS
.DS_Store

# VSCode
.vscode/

# Coverage
coverage/

# Others
*.log
*.tsbuildinfo 